<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogNest | Edit Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/static/css/createBlog.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    {% include "nav.html" %}
    <div class="mainForm">
        <div class="form-container">
            <h1>Create a New Blog</h1>
            <form  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" class="form-control" required placeholder="Enter blog title" value="{{curr_blog.blog_title}}">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" class="form-control" required placeholder="Enter blog description" >{{curr_blog.blog_desc}}</textarea>
                </div>
                <div class="form-group">
                    <label for="image">Upload Image:</label>
                    <input type="file" id="image" name="image" required class="form-control" value="{{curr_blog.blog_img}}">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>
