<nav class="navbar">
    <div class="logo"><a style="color:white;text-decoration:none;" href="/"><i class="bi bi-newspaper"></i>  BlogNest</a></div>
    <ul class="nav-links">
        {% if request.user.is_authenticated %}
        <li><a href="/"><i class="bi bi-house"></i> Home</a></li>
        <li><a href="/create-blog"><i class="bi bi-pencil-square"></i> Create Blog</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/my-blogs">My Blogs</a></li>
        <li><a href="/contact-us">Contact</a></li>
        
        <li><a href="/logout"> <i class="bi bi-person-circle"></i> Logout</a></li>
        {% else %}
        <li><a href="/login"><i class="bi bi-person-circle"></i> Login | Register</a></li>
        {% endif %}
    </ul>
</nav>